<div class="container fadeIn animated" style="max-width: 18cm;">

    <h1>¿Qué requerimientos se deben cumplir?</h1>
    <div>
        <h5>1. Documentación</h5>
        <p> En el establecimiento siempre deberán estar disponibles los siguientes documentos:</p>
        <h5>Certificación médica del personal que trabaja en el establecimiento:</h5>
        <p>En esta certificación debe constar su aptitud o no para manipular alimentos.</p>
    </div>
    <div>
        <h5>2. Condiciones del establecimiento*</h5>
        <p> Recipientes con tapa para almacenamiento de residuos en suficiente cantidad.</p>
        <p>Suministro permanente de agua potable y conexión a alcantarillado.</p>
        <p>Deben disponer con los equipos </p>
    </div>

    <div>
        <h5>3. Personal Manipulador</h5>
        <p>Debe seguir el procedimiento de higiene de manos conforme con la norma.</p>
        <p>Debe tomar las medidas necesarias para que los alimentos no se contaminen.</p>
    </div>

    <button name="Regresar" class="btn btn-dark" [routerLink]="['/Informate']">Regresar</button>

</div>