<div class="container fadeIn animated" style="max-width: 18cm;">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Registro</h1>
            <h5>Seleccione tipo a registrar </h5>

            <hr />
            <div class="card-columns">
                <div class="card">
                    <img class="card-img-top" src="assets/images/Restaurante.png" alt="Card image cap">
                    <h5 class="card-title">Establecimiento</h5>
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/Gestion']">
                            Seleccionar
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/images/Manipuladores.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Manipulador de Alimentos </h5>
                        <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/Manipulador']"> 
                            Seleccionar
                        </button>
                    </div>
                </div>
            </div>
            </div>

            </div>
            </div>