<div class="container fadeIn animated" style="max-width: 18cm;">


    <h1>Concepto Sanitario</h1>

    <p>La vigilancia sanitaria es una responsabilidad estatal y ciudadana de protección de la salud, que consiste en el
        proceso sistemático de inspección, vigilancia y control del cumplimiento de normas y procesos. (Decreto 3518 de
        2006)

        Nuestra meta es realizar visitas de inspección para determinar si los establecimientos cumplen con la norma y
        protegen la salud de los ciudadanos. Como resultado de las visitas de inspección, se diligencia un acta y se
        emite un concepto sanitario, el cual puede ser:
    </p>

    <h5>Favorable:</h5>
    <p> cuando se cumple con todo lo evaluado y establecido en el acta.</p>
    <h5>Favorable con requerimientos o pendiente:</h5>
    <p>cuando existen aspectos pendientes por cumplir, aunque estos no generan riesgo a la salud.</p>
    <h5>Desfavorable:</h5>
    <p> cuando se incumple con lo establecido por la norma.</p>

    <h6>Para esto, el proceso es muy sencillo, verifica los tres pasos:</h6>
</div>
<div class="container fadeIn animated" style="max-width: 18cm;">

    <div id="paso1" class="row block">
        <div class="col-12 col-lg-3 text-center">
            <h2 class="text-blue"><b>Paso 1</b></h2>
            <img class="bluehand" src="./assets/images/AutorregulaPaso1Azul.svg" alt="paso 1" title="paso 1">
        </div>
        <div class="col-12 col-lg-7">
            <div class="subtitle">
                <h2><b>Conoce la norma sanitaria</b></h2>
                <p>Presiona el siguiente boton para leer la Normatividad </p>
            </div>
            <div >
                <button class="btn btn-dark"[routerLink]="['/Normatividad']">Normatividad</button>
            </div>

        </div>
    </div>

    <div id="paso2" class="row block">
        <div class="col-12 col-lg-3 text-center">
            <h2 class="text-blue"><b>Paso 2</b></h2>
            <img class="bluehand" src="./assets/images/AutorregulaPaso2Azul.svg" alt="paso 2" title="paso 2">
        </div>
        <div class="col-12 col-lg-7">
            <div class="subtitle">
                <h2><b>Regístrate</b></h2>
            </div>
            <p>Inscribe tu negocio de manera virtual, fácil y dinámica, <b>llena el formulario y recibe
                    información</b>
                sobre tu actividad comercial. </p>
            <div >
                <button class="btn btn-dark"[routerLink]="['/Registro']">Registrate Ahora</button>
            </div>
        </div>

    </div>

    <div id="paso4" class="row block">
        <div class="col-12 col-lg-3 text-center">
            <h2 class="text-blue"><b>Paso 3</b></h2>
            <img class="bluehand" src="./assets/images/AutorregulaPaso3Azul.svg" alt="paso 3" title="paso 3">
        </div>
        <div class="col-12 col-lg-7">
            <div class="subtitle">
                <h2><b>Solicita una visita</b></h2>
            </div>
            <p>Cuando estés listo para recibir una visita de Vigilancia y Control, pídela. Es gratuita. Un inspector
                hará la verificación y generará el concepto sanitario. <b>Recuerda:</b> todos los establecimientos
                serán
                visitados.</p>
            <div class="btn yellow"><a class="text-white">Solicita visita</a></div>
        </div>
    </div>
</div>